.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 2.7rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
}

.accordion {
  margin-top: 2rem;
  margin-bottom: 0;
  /* border-top: 0.1rem solid rgba(var(--color-foreground)); */
  /* border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08); */
}

.accordion summary {
  border-top: 0.1rem solid rgba(var(--color-foreground));
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  font-size: 20px;
  line-height: 140.625%;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 3rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}

.icon-accordion__plus {
  display: block;
}

.icon-accordion__minus {
  display: none;
}

summary[aria-expanded="true"] .icon-accordion__plus {
  display: none;
}

summary[aria-expanded="true"] .icon-accordion__minus {
  display: block;
}

summary[aria-expanded="true"] .accordion__title {
  color: #858585;
}

.accordion summary[aria-expanded="true"] {
  border-top: 0;
}

.accordion summary {
  align-items: center;
}

@media screen and (max-width: 749px) {
  .icon-accordion__plus {
    width: 18px;
    height: 18px;
  }
  
  .icon-accordion__minus {
    width: 15px;
  }
}