.blog-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 65px;
}

.blog-articles .card-wrapper {
  width: 100%;
}

.main-blog .title--primary {
  margin: 0;
  margin-bottom: 70px;
}

.blog-articles__article {
  width: 100%;
}

.main-blog .card__information {
  padding: 0;
  margin-top: 20px;
}

.article-card__info {
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.article-card__info .circle-divider:after {
  display: none;
}

.article-card__info p {
  margin: 0;
}

.article-card__excerpt {
  margin: 0;
  margin-top: 5px;
}

@media screen and (min-width: 1640px) {
  .blog-articles--collage {
    padding: 0 150px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1350px) {

  .blog-articles--collage .blog-articles__article:first-child,
  .blog-articles--collage .blog-articles__article:nth-child(2) {
    max-width: 640px;
    width: 100%;
  }

  .blog-articles__article {
    max-width: 420px;
  }

  .blog-articles {
    display: flex;
    grid-template-columns: unset;
  }
}

@media screen and (max-width: 949px) {
  .blog-articles {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 749px) {
  .main-blog .title--primary {
    margin-bottom: 30px;
  }

  .blog-articles {
    row-gap: 30px;
  }
}