.article-template__hero-container {
  margin: 0 auto;
  margin-bottom: 45px;
}

.article-template__hero-small {
  height: 20rem;
}

.article-template__hero-medium {
  height: 30rem;
}

.article-template__hero-large {
  height: 40rem;
}

@media screen and (min-width: 750px) and (max-width: 1399px) {
  .article-template__hero-small {
    height: 35rem;
  }

  .article-template__hero-medium {
    height: 50rem;
  }

  .article-template__hero-large {
    height: 65rem;
  }
}

@media screen and (min-width: 1400px) {
  .article-template__hero-small {
    height: 45rem;
  }

  .article-template__hero-medium {
    height: 67rem;
  }

  .article-template__hero-large {
    height: 82rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__left .circle-divider,
.article-template__left--name {
  font-size: 16px;
  letter-spacing: -0.48px;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing+header,
.article-template__social-sharing+.article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields>* {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}

.article-template {
  padding: 90px 0 60px;
}

.article-template__left {
  width: 100%;
}

.article-template__right {
  width: 100%;
}

.article-template__right .article-template__right--img {
  object-fit: cover !important;
  width: 100% !important;
  display: block !important;
}

.article-template__left header {
  margin: 0 0 30px 0;
}

.article-template__left--box {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .article-template__box {
    display: flex;
    justify-content: space-between;
  }

  .article-template__right .article-template__right--img {
    max-width: 950px !important;
  }

  .article-template__right {
    max-width: 950px;
  }

  .article-template__left {
    max-width: 550px;
    margin-right: 50px;
  }

  .article-template__content {
    max-width: 790px;
  }

  .article-template__left header {
    margin: 0;
  }
}

@media screen and (min-width: 750px) {
  .article-template {
    padding: 185px 0 125px;
  }

  .article-template__hero-container {
    margin-bottom: 85px;
  }
}

@media screen and (max-width: 749px) {
  .article-template__left--box span {
    display: block;
  }

  .article-template__left--box span::after {
    display: none;
  }

  .article-template__left--box .article-template__left--name {
    margin-bottom: 7px;
  }

  .article-template__left .circle-divider,
  .article-template__left--name {
    font-size: 14px;
  }
}