.images-with-text {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.images-with-text__name {
  margin-bottom: 25px;
  margin-top: 0;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.images-with-text__box {
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  width: 100%;
}

.images-with-text__title {
  text-align: center;
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
}

.images-with-text__link {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.images-with-text__img {
  position: absolute;
  object-fit: cover;
}

.images-with-text__img--first {
  left: 20px;
}

.images-with-text__img--second {
  right: 20px;
}

.images-with-text__img--first-top,
.images-with-text__img--second-top {
  top: 0;
}

.images-with-text__img--first-bottom,
.images-with-text__img--second-bottom {
  bottom: 0;
}

.images-with-text__img--second-usually,
.images-with-text__img--first-usually {
  width: 213px;
  height: 167px;
}

.images-with-text__img--first-high,
.images-with-text__img--second-high {
  width: 150px;
  height: 175px;
}

@media only screen and (min-width: 1530px) {
  .images-with-text__box {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}

@media only screen and (min-width: 750px) {
  .images-with-text__link {
    margin-top: 45px;
  }

  .images-with-text {
    min-height: 700px;
    max-height: unset;
  }

  .images-with-text__name {
    margin-bottom: 55px;
  }
}