.icon-with-text {
  padding: 85px 0 85px;
}

.icon-with-text__items {
  display: block;
}

.icon-with-text__items--center {
  justify-content: space-evenly !important;
}

.icon-with-text__item {
  max-width: 100%;
  margin: 0;
}

.icon-with-text__item--img {
  margin-bottom: 25px;
  object-fit: cover;
}

.icon-with-text__item--title {
  margin: 0 0 12px 0;
}

.icon-with-text__item--text {
  margin: 0;
}

@media only screen and (max-width: 1249px) {
  .icon-with-text__item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-with-text__item+.icon-with-text__item {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 849px) {
  .icon-with-text__item {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1250px) {

  .icon-with-text__item+.icon-with-text__item {
    margin-left: 20px;
  }

  .icon-with-text__items {
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    display: flex;
  }

  .icon-with-text__item {
    max-width: 380px;
  }
}

@media only screen and (min-width: 1050px) {
  .icon-with-text {
    padding: 135px 0 135px;
  }

}

@media only screen and (max-width: 749px) {
  .icon-with-text__item--img {
    width: 50px;
    height: 50px;
    margin-bottom: 0;
  }

  .icon-with-text__item--box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
  }

  .icon-with-text__item--title {
    margin-bottom: 0;
  }

    .icon-with-text {
      padding: 65px 0 65px;
    }
}