.products-slider-with-text {
  padding: 115px 0 80px 20px;
}

.products-slider-with-text__box {
  display: flex;
}

.products-slider-with-text__left {
  width: 100%;
  max-width: 630px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-slider-with-text__right {
  width: 100%;
}

.products-slider-with-text__right slideshow-component {
  padding-top: 45px;
  max-width: 1170px;
}

.products-slider-with-text .slideshow {
  min-height: 600px;
}

.products-slider-with-text .card__media,
.products-slider-with-text .card__content {
  max-height: 470px;
  grid-template-rows: unset;
  flex-grow: unset;
}

.products-slider-with-text .card {
  justify-content: end;
}

.products-slider-with-text .card__inner {
  height: 470px;
  max-height: 470px;
  background-color: transparent;
}

.products-slider-with-text .card__information {
  grid-row-start: unset;
  margin-top: 25px;
  padding: 0;
}

.products-slider-with-text .slideshow__slide {
  max-width: 375px !important;
  margin-right: 20px;
}

.products-slider-with-text .product-card-wrapper {
  max-width: 375px;
  height: auto;
}

.products-slider-with-text .banner:after,
.products-slider-with-text .banner__media:after {
  z-index: 0;
}

.slider-button__box {
  display: flex;
  position: absolute;
  top: 0;
  right: 20px;
}

.products-slider-with-text .slider-button {
  z-index: 2;
}

.products-slider-with-text__left--link {
  margin-bottom: 70px;
}

.products-slider-with-text__one--product {
  padding-right: 20px;
}

@media screen and (min-width: 1669px) {
  .products-slider-with-text {
    padding-left: 125px;
  }

  .slider-button__box {
    right: 120px;
  }
}

@media screen and (max-width: 1049px) {
  .products-slider-with-text {
    padding: 80px 0 60px 20px;
  }
}

@media screen and (max-width: 989px) {
  .products-slider-with-text__box {
    display: block;
  }

  .products-slider-with-text__left {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 70px;
  }

  .slider-button__box {
    right: 0;
  }

    .products-slider-with-text {
      padding-right: 15px;
      padding-left: 15px;
    }

  .products-slider-with-text__left--title {
    margin-bottom: 15px;
  }

  .products-slider-with-text__left--link {
    margin-bottom: 0;
  }

  .products-slider-with-text .slider-button svg {
    width: 25px;
    height: 25px;
  }

  .products-slider-with-text .slider-button {
    margin: 0 7px;
  }

  .products-slider-with-text__one--product {
    padding-right: 15px;
  }

  .products-slider-with-text .slideshow__slide:last-child {
    margin-right: 1px;
  }
}

@media screen and (max-width: 749px) {
  .products-slider-with-text {
    padding: 60px 15px 40px 15px;
  }
}