.page-title {
  margin-top: 0;
  margin-bottom: 0;
}

.main-page-title {
  max-width: 585px;
  width: 100%;
}

.main-page__box {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.main-page__text {
  max-width: 790px;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  line-height: 200%;
}

.main-page__text p {
  margin: 35px 0;
}

@media screen and (max-width: 1199px) {
  .main-page__box {
    display: block;
  }

  .main-page__text {
    max-width: 100%;
  }

  .main-page-title {
    max-width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 749px) {
  .main-page__text p {
    margin: 5px 0;
  }

  .main-page__text {
    margin-top: 0;
  }

  .main-page-title {
    margin-bottom: 15px;
  }

  .main-page__text iframe {
    width: 100%;
    max-width: 560px;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}